.title {
  font-size: 52px;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 12px;
  height: calc(100vh - 210px);
}

.left {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 12px;
  min-height: 0;
}

.chartCard {
  border: 1px solid #2f3a46;
  background: #fff;
  padding: 8px;
}
